SQLAlchemy==2.0.36
aio-pika==9.5.3
alembic==1.13.1
asyncpg==0.29.0
fake-useragent==1.5.1
fastapi==0.115.6
google-cloud-storage==2.18.2
langdetect==1.0.9
pydantic-settings==2.7.0
pydantic==2.10.4
python-multipart==0.0.20
sentence-transformers==3.3.1
typing-extensions==4.12.2
uvicorn[standard]==0.34.0
websockets==14.1
psycopg2-binary==2.9.10
fake-useragent==1.5.1
langdetect==1.0.9
sentence-transformers==3.3.1
psycopg2-binary==2.9.10
